body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#333;
    background-color: #fff7f0;
}

header{
    background-color: #d34400;
    color:white;
    text-align: center;
    padding: 40px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin-bottom: 10px;
    font-size: 1.2rem; 
}

.menu{
    display: flex;
    flex-wrap: wrap; 
    /* definie os itens dentro do container estejam em uma única linha */
    margin-top: 20px;
    gap: 20px;
    /* define o espaçamento entre os itens */
    justify-content: center;
    /* centraliza os itens */
}

.item {
    background-color: white;
    border-radius: 12px;
    /* define uma borda arredondada */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* define uma sombra */
    padding: 20px;
    width: 300px;
    text-align: center;
    /* define o alinhamento do texto, nesse caso centralizado */
    transition: transform 0.5s ease ;
    /* movimento suave por 5s */
    /* transition: propriedade duração  delay */
}

.item:hover{
    transform: translateY(-5px);
    /*  quando passar o mouse por cima do elemento, sobe 5px*/
}



